.banner {
    width: 100%;
}

.estude {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url(../img/pattern3.png);
}

.aprendendo {
    width: 350px;
    height: 350px;
    margin-right: 20px;
}

.estude2 {
    width: 300px;
}

.servico {
    background-color: #fcd062;
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='57' height='57' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='rgba(112, 36, 89,0)'/%3E%3Cpath d='M0 8.5a 11.5 11.5 0 0 1 11.5 11.5a 8.5 8.5 0 0 0 8.5 8.5v3a-11.5-11.5 0 0 1-11.5-11.5a-8.5-8.5 0 0 0-8.5-8.5z' fill='rgba(229, 174, 102,1)'/%3E%3Cpath d='M20 28.5a 8.5-8.5 0 0 0 8.5-8.5a 11.5-11.5 0 0 1 11.5-11.5v3a-8.5 8.5 0 0 0-8.5 8.5a-11.5 11.5 0 0 1-11.5 11.5zM20 68.5a 8.5-8.5 0 0 0 8.5-8.5a 11.5-11.5 0 0 1 11.5-11.5v3a-8.5 8.5 0 0 0-8.5 8.5a-11.5 11.5 0 0 1-11.5 11.5z' fill='rgba(229, 174, 102,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ")
}

.servico h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.servico2 {
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.servico2 p {
    background-color: #D8D8F6;
    width: 300px;
    margin: 20px;
    color: #831e29;
    border-radius: 100px;
    padding: 50px 10px 50px 10px;
    box-shadow: 5px 5px #ACACEC;
}

.destaque {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='50' height='50' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='%23ffec99'/%3E%3Cpath d='M20 5a 20 20 0 0 1 40 0h10a 10 10 0 0 1-20 0a 10 10 0 0 0-20 0a 10 10 0 0 1-20 0a 10 10 0 0 0-20 0h-10a 20 20 0 0 1 40 0z' fill='%23ffe066'/%3E%3Cpath d='M0 25a 20 20 0 0 1 40 0h10a 10 10 0 0 1-20 0a 10 10 0 0 0-20 0a 10 10 0 0 1-20 0z' fill='%23ffd43b'/%3E%3Cpath d='M20 45a 20 20 0 0 1 40 0h10a 10 10 0 0 1-20 0a 10 10 0 0 0-20 0a 10 10 0 0 1-20 0a 10 10 0 0 0-20 0h-10a 20 20 0 0 1 40 0z' fill='%23ffe066'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.destaque h1 {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.destaque2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.imagem {
    opacity: 70%;
    margin-right: 40px;
    margin-left: 40px;
    transition: 1s ease-in-out;
}

.imagem:hover {
    opacity: 100%;
}

.botao {
    height: 100px;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(../img/pattern2.png);
}

.botao2 {
    text-align: center;
    padding-bottom: 100px;
}

.registre {
    background-color: #9C70C2;
    text-decoration: none;
    color: white;
    padding: 15px 15px;
    border-radius: 50px;
    box-shadow: 5px 5px #8954B6;
    transition: 0.2s ease-in-out;
}

.registre:hover {
    background-color: #BA9BD4;
    color: black;
}