@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
    background-color: #D8D8F6;
    font-family: 'M PLUS Rounded 1c', serif;
}

header {
    display: flex;
    background-color: #9C70C2;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu {
    padding: 10px;
    display: flex;
    align-items: center;
}

.menu a {
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
    margin: 0 10px 0 10px;
    transition: 0.2s ease-in-out
}

.menu a:hover {
    background-color: #BA9BD4;
    color: black;
}

.menu a.active {
    background-color: #BA9BD4;
    color: black;
}

.logo {
    height: 125px;
    width: 125px;
    margin-left: 20px;
    float: left;
    border-radius: 100px;
}

.registro {
    height: 125px;
    width: 125px;
    float: right;
    padding-right: 20px;
}

.rodape {
    color: white;
    height: 220px;
    background-color: #9C70C2;
    margin-top: 10px;
    display: flex;
    margin-top: 80px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.rodape>img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-left: 40px;
}

.referencia {
    display: flex;
    flex-direction: column;
    margin-left: -550px;
}

.referencia1 {
    font-weight: bold;
    font-size: larger;
}

.refencia2 {
    font-weight: bold;
    font-size: medium;
    margin-left: 80px;
}

.redes {
    width: 200px;
    margin: 10px;
    margin-right: 40px;
}