body{
    background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='50' height='50' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='rgba(216, 216, 246,1)'/%3E%3Ccircle cx='34' cy='20' r='4' fill='rgba(172, 172, 236,1)'/%3E%3Ccircle cx='6' cy='20' r='4' fill='rgba(172, 172, 236,1)'/%3E%3Ccircle cx='20' cy='34' r='4' fill='rgba(172, 172, 236,1)'/%3E%3Ccircle cx='20' cy='6' r='4' fill='rgba(172, 172, 236,1)'/%3E%3Ccircle cx='34' cy='6' r='4' fill='rgba(135, 135, 227,1)'/%3E%3Ccircle cx='6' cy='34' r='4' fill='rgba(135, 135, 227,1)'/%3E%3Ccircle cx='34' cy='34' r='4' fill='rgba(135, 135, 227,1)'/%3E%3Ccircle cx='6' cy='6' r='4' fill='rgba(135, 135, 227,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: #D8D8F6;
    border-radius: 50px;
    padding: 20px;
    width: 400px;
    margin-left: 720px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
}

.text-center {
    text-align: center;
}

.box-pai {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-filho {
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    flex: 1;
    padding: 0 30px 30px;
    margin: 2%;
    min-width: 250px;
    max-width: 350px;
}

.f1 {
    background-color: #F0D7DF;
}

.f2 {
    background-color: #F7E6DA;
}

.f3 {
    background-color: #CAE0E4;
}

.preco {
    margin: 24px 0;
    font-size: 36px;
    font-weight: 900;
}

.preco sub,
.preco sup {
    font-size: 16px;
    font-weight: 100;
}

.lista {
    padding: 0;
    list-style-type: none;
}

.lista li {
    font-weight: 100;
    padding: 12px 0;
}

.f1 ul li:not(:last-of-type) {
    border-bottom: 1px solid #eba2b9;
}

.f2 ul li:not(:last-of-type) {
    border-bottom: 1px solid #f1c19e;
}

.f3 ul li:not(:last-of-type) {
    border-bottom: 1px solid #4dc8dd;
}

a {
    text-decoration: none;
}

.botao {
    border-radius: 25px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 20px;
    transition: all 0.1s ease-in-out;
    width: 150px;
    margin-left: 68px;
}

.botao:hover {
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}

.b1 {
    background-color: #eba2b9;
}

.b2 {
    background-color: #f1c19e;
}

.b3 {
    background-color: #4dc8dd;
}